[user]
    email = krle@tilda.center
    name = Krstan Vjestica
[color]
    ui = auto
[github]
    user = krlex
[alias]
    wdiff = diff --word-diff=color
[push]
    default = simple
[core]
	editor = vim
